<div class="container p-4" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <br />
                <div class="mx-auto">
                    <img src="/images/trabajo-en-equipo.png" alt="img_cool_work" style="height: 5rem;">
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h3>¡Bienvenido!</h3>
                        <h4>{{user.nombre_usuario}}</h4>
                        <p>Seleccione la acción que desea hacer</p>
                    </div>

                    <form action="/registros/{{user.identificacion_usuario}}" method="GET">
                        <button class="btn btn-primary btn-block">
                            Mirar registros creados
                        </button>
                    </form>

                    <br/>

                    <button class="btn btn-primary btn-block">
                        <a href="/links/add" class="buttons-link">Crear un nuevo registro</a>
                    </button>

                    <br/>

                    <form action="/editUser/{{user.identificacion_usuario}}" method="GET">
                        <button class="btn btn-primary btn-block">
                            Mirar perfil
                        </button>
                    </form>
{{!--
                    <button class="btn btn-primary btn-block">
                        <a href="/links" class="buttons-link">Mirar perfil</a>
                    </button>
--}}
                </div>
            </div>
        </div>
    </div>
</div>